body {
  background-color: #1F2021;
}

.certificate {
   background-image: url(../img/certificate.svg);
}

.upbringing {
   background-image: url(../img/upbringing.svg);
}

.pedigree {
   background-image: url(../img/pedigree.svg);
}

.health {
   background-image: url(../img/health.svg);
}

.header-container {
   background-image: url(../img/header-cat.png);
   width: auto;
   height: 770 px;
}

.header-container > * {
  display: inline-block;
  
.link-container {
  background-color: #1F2021;
  opacity: 0.3;
  width: auto;
  height: 84 px;
}

.link-container li {
  display: inline;
}

.link-container li:not(:last-child)::after {
  content: '|';
  padding: 0 5 px;
}

h1 {
  font-size: 64 px;
  color: #FFFFFF;
}

p {
  font-size: 24 px;
  color: #D9D9D9;
}

a:link {
  color: #D9D9D9;
  text-decoration: none;
}

a:active {
  color: #FFFFFF;
  text-decoration: none;
}

button {
  color: #D9D9D9;
}

button:active {
  color: #FFFFFF;
}
  
.socials-container a {
  margin: 25 px;
}

.logo {
  width: 82 px;
  height: 50 px;
  position: absolute;
  right: 0;
  top: 0;
  margin: 10 px;
}
