body {
  background-color: #1F2021;
  color: #D9D9D9;
}

.header-container {
  margin: 0;
  background-image: url(../img/header-cat.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
/*
.header-container > * {
  display: inline-block;
  width: 400 px;
  position: absolute;
  left: 0;
  margin: 25 px;
}
*/
.link-container {
  display: block;
  background-color: #1F2021;
  opacity: 0.4;
  position: absolute;
  top: 0;
  padding: 10 px;
  margin: 0;
  padding: 20 px;
}

ul.link-container li {
  display: inline-block;
}

.link-container li:not(:last-child)::after {
  content: '|';
  padding: 0 20 px;
}

h1 {
  font-size: 64 px;
  color: #FFFFFF;
}

a:link {
  color: #D9D9D9;
  text-decoration: none;
}

a:active {
  color: #FFFFFF;
  text-decoration: none;
}

button:hover {
  color: #FFFFFF;
}
  
.socials-container a {
  margin: 25 px;
}

.logo {
  width: 82 px;
  height: 50 px;
  position: absolute;
  right: 5 px;
  top: 10 px;
  margin: 20 px;
}

.advantages-container {
  display: grid;
  grid-template-columns: 1 fr 1 fr;
  gap: 90 px;
}

.button-back {
  background-image: url(../img/back.svg); /* сделай чо нбудь онклик или типо того */
}

.button-ahead {
  background-image: url(../img/ahead.svg);
}

footer {
  display: grid;
  grid-template-columns: 1 fr 1 fr 1 fr;
  gap: 500 px;
}

footer div {
  margin: 50 px;
}
