body {
  background-color: #1F2021;
  color: #FFFFFF;
}

.ahead {
  background-image: url(img/ahead.svg);
}

.plus {
   background-image: url(img/plus.svg);
}

.certificate {
   background-image: url(img/certificate.svg);
}

.upbringing {
   background-image: url(img/upbringing.svg);
}

.pedigree {
   background-image: url(img/pedigree.svg);
}

.health {
   background-image: url(img/health.svg);
}

.header-container {
   background-image: url(img/header-cat.png);
}

.link-container {
  background-color: #1F2021;
  opacity: 0.3;
  width: auto;
  height: 84 px;
}

h1 {
  font-size: 64 px;
}

p {
  font-size: 24 px;
}


